@import './index.css';
@import './keyboard.css';
@import './loops.css';
@import './keyboard2.css';
@import './tracks.css';
@import './slider.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0 auto;
  position: relative;
}

#video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: none;
}

.canvas {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#overlay_container {
  position: absolute;
  z-index: 5;
}
#overlay {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#video_container {
  position: absolute;
}
