.chord1 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  top: 40px;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 3;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
}
.chord2 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 140px;
  width: 100px;
  height: 100px;
  z-index: 3;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
}
.chord3 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 240px;
  width: 100px;
  height: 100px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}
.chord4 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 340px;
  width: 100px;
  height: 100px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}

#keyboard_container {
  position: absolute;
  align-items: center;
}

.none {
  display: none;
}

.movedOut {
  display: none;
}
