.kick {
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 40px;
  left: 540px;
  width: 100px;
  height: 68px;
  background-color: #ff004c;
  z-index: 3;
}
.bass {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 108px;
  left: 540px;
  width: 100px;
  height: 67px;
  background-color: #001488;
  z-index: 3;
}
.clap {
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 175px;
  left: 540px;
  width: 100px;
  height: 67px;
  background-color: #ff004c;
  z-index: 3;
}
.hat {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 242px;
  left: 540px;
  width: 100px;
  height: 67px;
  background-color: #001488;
  z-index: 3;
}
.perc {
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 309px;
  left: 540px;
  width: 100px;
  height: 68px;
  background-color: #ff004c;
  z-index: 3;
}
.vocal {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 376px;
  left: 540px;
  width: 100px;
  height: 67px;
  background-color: #001488;
  z-index: 3;
}
