/* not gonna lie, I just copied and pasted this from W3Schools, I hope that isn't a plagiarism */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
  left: 241px;
  top: -66px;
  border: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4dbfbc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4dbfbc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 0px;
}

.slider.round:before {
  border-radius: 0%;
}

/* other stuff in panel (download, stop, start recording, etc) */
.mega {
  display: inline-block;
}

#record {
  background-color: black;
  color: white;
  font-family: "PT Mono", monospace;
  cursor: pointer;
  padding: 10px 14px;
  font-size: 15px;
  border-style: none;
  position: relative;
  display: inline-block;
  top: -102px;
  left: 473px;
}

#record:hover {
  background-color: #4dbfbc;
  color: white;
}

#stop {
  background-color: black;
  color: white;
  font-family: "PT Mono", monospace;
  cursor: pointer;
  padding: 10px 14px;
  font-size: 15px;
  border-style: none;
  position: relative;
  display: inline-block;
  top: -215px;
  left: 346px;
}

#stop:hover {
  background-color: #4dbfbc;
  color: white;
}

#download {
  color: white;
  font-family: "PT Mono", monospace;
  position: relative;
  display: inline-block;
  top: -12px;
}

#audio_player {
  position: relative;
  display: inline-block;
  top: -96px;
}
