.beat1 {
  color: yellow;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  top: 40px;
  left: 540px;
  width: 95px;
  height: 54px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}
.beat2 {
  color: yellow;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  top: 100px;
  left: 540px;
  width: 95px;
  height: 54px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}
.beat3 {
  color: yellow;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  top: 160px;
  left: 540px;
  width: 95px;
  height: 54px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}
.bassline1 {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  top: 280px;
  left: 540px;
  width: 95px;
  height: 54px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}
.bassline2 {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  top: 340px;
  left: 540px;
  width: 95px;
  height: 54px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}
.bassline3 {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  top: 400px;
  left: 540px;
  width: 95px;
  height: 54px;
  background-color: #000000;
  font-family: "PT Mono", monospace;
  color: white;
  border-style: solid;
  z-index: 3;
}

.none {
  display: none;
}
