.beat1 {
  color: yellow;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 40px;
  left: 540px;
  width: 100px;
  height: 60px;
  background-color: #ff004c;
  z-index: 3;
}
.beat2 {
  color: yellow;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 100px;
  left: 540px;
  width: 100px;
  height: 60px;
  background-color: #ff004c;
  z-index: 3;
}
.beat3 {
  color: yellow;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 160px;
  left: 540px;
  width: 100px;
  height: 60px;
  background-color: #ff004c;
  z-index: 3;
}
.bassline1 {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 280px;
  left: 540px;
  width: 100px;
  height: 60px;
  background-color: #0126f5;
  z-index: 3;
}
.bassline2 {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 340px;
  left: 540px;
  width: 100px;
  height: 60px;
  background-color: #0126f5;
  z-index: 3;
}
.bassline3 {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  top: 400px;
  left: 540px;
  width: 100px;
  height: 60px;
  background-color: #0126f5;
  z-index: 3;
}
