body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#overlay_container {
  position: absolute;
}

.overlay_C {
  position: absolute;
  width: 100px;
  height: 42px;
  opacity: 0.25;
  background-color: #ff004c;
  z-index: 3;
}
.overlay_D {
  position: absolute;
  top: 43px;
  width: 100px;
  height: 42px;
  opacity: 0.25;
  background-color: #ff7b00;
  z-index: 3;
}
.overlay_E {
  position: absolute;
  top: 127px;
  width: 100px;
  height: 42px;
  opacity: 0.25;
  background-color: #eeff00;
  z-index: 3;
}
.overlay_F {
  position: absolute;
  top: 169px;
  width: 100px;
  height: 42px;
  opacity: 0.25;
  background-color: #48ff00;
  z-index: 3;
}
.overlay_G {
  position: absolute;
  top: 169px;
  width: 100px;
  height: 42px;
  opacity: 0.25;
  background-color: #00f7ff;
  z-index: 3;
}
.overlay_A {
  position: absolute;
  top: 211px;
  width: 100px;
  height: 42px;
  opacity: 0.25;
  background-color: #002fff;
  z-index: 3;
}
.overlay_B {
  position: absolute;
  top: 253px;
  width: 100px;
  height: 42px;
  opacity: 0.25;
  background-color: #8c00ff;
  z-index: 3;
}

#video_container {
  position: absolute;
}

#overlay_active {
  background-color: green;
}
#video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
