nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 10px;
  background-color: yellow;
}

.logo {
  display: inline-flex;
  margin: 20px 25px;
}

.links {
  display: inline-flex;
  list-style-type: none;
}

li {
  padding: 10px;
}
